<%= react_component("NavBar", 
props: {page: "SCEC Portal"} )%>

<h6>You're Logged out! Log in to the Member Dashboard</h6>
<%= react_component("GoogleCalendar")  %>
<%= link_to "Sign in with Google", member_google_oauth2_omniauth_authorize_path %>
