<h1>MemberRequest#request_created</h1>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There is a new member request from: <%= @member.first_name %> <%= @member.last_name %>.</h1> 
    <p>
      Please confirm or deny their member request for the SCEC Attendance Tracker.
    </p>
  </body>
</html>
 