
<%= link_to("<< Back to Profile", members_path, :class => 'back-link') %>

<h2>Delete Profile? Deletion is permanent. </h2>

<%= form_for(@member, :method => 'delete') do |f| %>

<p>Are you sure?</p>

<div class="form-buttons">
    <%= f.submit("Delete Member") %>
</div>

<% end %>
