<!-- Will just be show, but with editable fields -->
<!-- For now, render form -->

<%= link_to("<< Back to Home", root_url, :class => 'back-link') %>

<div class="members new">
  <h2> Edit Profile </h2>

  <%= form_for(@member, :url => members_path, :method => 'post') do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Member") %>
    </div>
  <% end %>
</div>
